/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#nav {
	color: #FE2155;
	background: black;
}

h1 {
	font-family: "Lucida Console", monospace;
	text-align: center;
}

h2 {
	font-family: "Lucida Console", monospace;
	text-align: center;
}

#author {
	font-family: "Lucida Console", monospace;
	color: #F00D70;
	text-align: center;
}

#welcome {
	color: #F00D70;
}

#more {
	font-family: "Lucida Console", monospace;
	color: black;
	text-align: center;
}

a:hover {
	color: #F00D70;
}

i:hover {
	color: #F00D70;
}

a:hover {
	float: center;
	color: #F00D70;
}

#background {
	background-image: url("http://40.media.tumblr.com/52a662193fd692277f0f56790a454f68/tumblr_nwagz4XqW61txxec1o1_1280.jpg");
}

.navbar .nav > li > a {
      padding:15px 10px 15px
    }

.mtop-13 {
	margin-top: 13px;
}